.brand {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  color: red;
  /* set e! center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-blue {
  color: #192f60;
}
.edu-text-gray {
  background-color: #fbfbfb !important;
}
.edu-restaurant-image {
  width: 120px;
  height: 120px;
  border-radius: 25%;
}
.page li {
  width: 30px;
  height: 30px;
  /* center number */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 8px;
  margin-right: 8px;
  font-size: 1.3rem;
  border: gray 1px solid;
  border-radius: 20%;
}
.page .active {
  background-color: gray !important;
  color: white !important;
}

@media screen and (max-width: 576px) {
  .edu-restaurant-image {
    width: 80px;
    height: 80px;
    border-radius: 25%;
  }
  .filter-po-up-parent {
    position: relative; /* control absolute */
  }

  .filter-pop-up {
    position: absolute; /* pic element form normal flow*/
    background-color: rgb(255, 255, 255);
    width: 100%;
    left: 0px;
    padding: 1.5rem;
    top: 120%;
    border: 1px solid rgb(175, 175, 175);
    z-index: 1;
  }
}
